<!-- 引入官方的socket.io.js文件 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<!-- 引入第三步创建的socketio_client.js文件 -->
<script src="socketio_client.js"></script>
<script type="text/javascript">
    //构建客户端实例
    var client = SocketioClient.createNew('localhost', 8000);
    //接收消息处理
    client.receive('token-status', function (data) {
        console.info('TOKEN-STATUS');
        console.info(data);
    });
    client.receive('encrypt-status', function (data) {
        console.info(data);
    });
    client.receive('upload-status', function (data) {
        console.info(data);
    });
    client.receive('start-status', function (data) {
        console.info(data);
    });
    client.send('send-token', {
        "token": "yr3dm6zr9j0ik929ui107qcnl3nhgrphik5fu77gmwibz2mvv8"
    });


    function startEncrypt() {
        client.send('start-encrypt', {
            "token": "yr3dm6zr9j0ik929ui107qcnl3nhgrphik5fu77gmwibz2mvv8",
            "filmId": 43
        });
    }

    function stopEncrypt() {
        setTimeout(function () {
            client.send('stop-encrypt', {
                "token": "yr3dm6zr9j0ik929ui107qcnl3nhgrphik5fu77gmwibz2mvv8",
                "filmId": 37
            });
        }, 2000);
    }

    function startUploadEnc() {
        client.send('start-upload', {
            "token": "yr3dm6zr9j0ik929ui107qcnl3nhgrphik5fu77gmwibz2mvv8",
            "theaterHostId": 2,
            "encFilmId": 14
        });
    }

    function stopUploadEnc() {
        setTimeout(function () {
            client.send('stop-upload', {
                "token": "yr3dm6zr9j0ik929ui107qcnl3nhgrphik5fu77gmwibz2mvv8",
                "theaterHostId": 2,
                "encFilmId": 6
            });
        }, 4000);
    }

    function startFilm() {
        client.send('start-film', {
            "token": "yr3dm6zr9j0ik929ui107qcnl3nhgrphik5fu77gmwibz2mvv8",
            "uploadFilmsId": 86
        });
    }

    function stopFilm() {
        setTimeout(function () {
            client.send('stop-film', {
                "token": "yr3dm6zr9j0ik929ui107qcnl3nhgrphik5fu77gmwibz2mvv8",
                "uploadFilmsId": 83
            });
        }, 5000);
    }

    function pauseResumeFilm() {
        setTimeout(function () {
            client.send('pause_resume-film', {
                "token": "yr3dm6zr9j0ik929ui107qcnl3nhgrphik5fu77gmwibz2mvv8",
                "uploadFilmsId": 82
            });
        }, 3000);
    }

    //startEncrypt()
    //stopEncrypt()

    //startUploadEnc()
    //stopUploadEnc()

    startFilm()
    //stopFilm()
    //pauseResumeFilm()


</script>